/* **************************************************** */
/* COLORS */

$color-text: #0f0f0f;
$color-brand: #00689c;

$color-warning: #ff2600;
$color-grey: #989898;
$color-positive: #ffffff;
$color-negative: #0f0f0f;
$color-muted: #aaa;
$color-brand-background: #f7f7f7;
